@using IF.Lastfm.Core.Objects
@model List<LastArtist>
@if (Model != null && Model.Count != 0)
{
<div class="row">
    @foreach (var item in Model)
    {
        <a href="/Home/Albums/@item.Name">
            <div class="col-md-3">
                <div class="image">
                    @if (item.MainImage.Large != null) 
                    {
                    <img class="image" src="@item.MainImage.Large" alt=""/>
                    }
                    else
                    {
                        <img src="http://www.spartanwebsites.com/meadowcitymusicfest/wp-content/uploads/2016/05/meadow-city-music-festival-icon-1-300x300.png"width="300" height="300" />
                    }
                    <p class="textOn">@item.Name<br />Listeners: @item.PlayCount</p>
                </div>
            </div>
        </a>
    }
</div>
}
else
{
    <h1 id="message"> No artists at site...</h1>
}
<style type="text/css">
    .image {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 300px;
        margin:3px;
    }

    .textOn {
        margin: 3px;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 70%;
        left: 0;
        width: 100%;
        color: white;
        background-color: rgba(0,0,0,.3);
    }
</style>