@using IF.Lastfm.Core.Objects
@using MusicCenter.Models
@model SearchResult

@if (Model != null)
{
    <h2>Tracks:</h2>
    <div id="scrolListTracks">
        @Html.Partial("Tracks", Model.Tracks)
    </div>
    if (Model.Tracks.Count > 7)
    {
        <button class="btn" style="min-width:20%; min-height:30px" id="addTracks" OnClick="addTracks()">More Tracks...</button>
    }

    <h2>Artists:</h2>
    <div id="scrolListArtists">
        @Html.Partial("_Items", Model.Artists)
    </div>
    if (Model.Artists.Count > 7)
    {
        <button class="btn" style="min-width:20%; min-height:30px" id="addArtist" OnClick="addArtists()">More Artists...</button>
    }
    
    <hr />
    <h2>Albums:</h2>
    <div id="scrolListAlbums">
        @Html.Partial("_Albums", Model.Albums)
    </div>
    if (Model.Albums.Count > 7)
    {
        <button class="btn" style="min-width:20%; min-height:30px" id="addAlbums" OnClick="addAlbums()">More Albums...</button>
    }   

    <hr />
    
}
else
{
    <h1 id="message"> No more search result at site...</h1>
}

