@using MusicCenter.Models
@model SearchResult
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-12">
        <div id="scrolList">
            @Html.Partial("_SearchResult", Model)
        </div>
    </div>
</div>   
<audio>
    <source src="http://storage.mp3cc.com/download/61320507/bXZmZVh6U2lHVXdYQ2VmektTbHJiT1labW5jOHQ4ZnpoQTdHQTJzSHVGZHNDVjV5NFU0ZlZMMjFTVlg1NkRaZG9URGtEUitZK3lIYkt1ejlZV2FNQmR5RjA0Z3N0cHVCdmlkUzNRWXVjeVI2UVo2RGZGYTJ0WExjVUVoY09aOU8/alekseev-chuvstvuyu-dushoj_(mp3CC.com).mp3">
</audio>
<div id="forPlayer"></div>